* {
  box-sizing: border-box;
}

.error {
  width: 100%;
  max-width: 1120px;
  background: #f1f1f1;
  color: red;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid red;
  font-weight: 500;
  font-size: 18px;
}

.success {
  width: 100%;
  max-width: 1120px;
  background: #f1f1f1;
  color: green;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid green;
  font-weight: 500;
  font-size: 18px;
}
